@charset "utf-8";
/* CSS Document */

/*Header start here*/
.header{
	width: 80%;
	margin-left: auto;
}


/*Navigation Menu*/
.navigation{
	
  width:100%;
  padding:10px;
  text-align: center;
}

ul {
  padding:0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  font-variant: small-caps;
}

a:link{
  color:#55BFB3;
}

a:visited{
    color:#9B42D7;
}

a:hover{
    color:#4C3639;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}


a:active{
  color:#1E8CA0;
  font-weight:bold;
}

/* Navigation ends here */

/*Contact Page bgins here */

.contact_main h1{
	padding: 10px;
	marginlL:10px;
	color: #C7B299;
	font-size: 44px;
}

.contact_main p{
	padding: 10px;
	marginlL:10px;
	color: #808285;
	font-size: 16px;	
}
#touch{
	width: 30%;
	marign-right:auto;
}

.flexcontact{
	display: flex;
	flex-direction: row;
	
}
#contact{
	width: 30%;
	border: 1px solid black;
	padding:10px;
	margin: 10px;
	
	
}
#form{
	width: 30%;
	border: 1px solid black;
	padding:10px;
	margin: 10px;
}
/*Contact Page ends here */

/*Gallery Page goes here*/
#gallery{
	line-height: 0;
	-webkit-column-count:5;
	-webkit-column-gap:5px;
	-moz-column-count:5;
	-mox-column0gap:5px;
	column-count:5;
	column-gap:5px;
}
#gallery img{
	width:100% !important;
	height: auto !important;
	margin-bottom: 5px;
	transition:filter 2s;
}